html
  head
    title tasks
    style.
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
      }
      th {
        background-color: #f0f0f0;
      }
  body
    h1 Your Tasks
    table
      thead
        tr
          th ID
          th Task
      tbody
        each task in tasks
          tr
            td #{tasks.indexOf(task) + 1}
            td #{task}
